li {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

img {
    grid-row: 2/3;
    grid-column: 1/2;
}

h2 {
    text-align: center;
    grid-row: 1/2;
    grid-column: 4/5;
}

p{
    text-align: center;
    grid-row: 2/3;
    display:grid;
}